.kantor-pusat {
  background: rgb(255, 255, 255);
  border: rgb(228, 225, 225) solid 0.1px;
  border-radius: 11px;
  margin: 16px;
  margin-top: 0;
  padding: 6px;
  box-shadow: 0 0 3px rgb(226, 225, 225);
  .head {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    border-radius: 11px;
    margin: 16px;
    align-items: center;
    .search label {
      position: relative;
      width: 25rem;
    }
    .search label input {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      padding: 5px 20px;
      padding-left: 35px;
      font-size: 15px;
      outline: none;
      border: none;
      background-color: #f7f7f7;
    }
    .search label input:focus {
      border: 1px solid #40bab5;
      box-shadow: 0 0 3px #40bab5;
    }
    .search label i {
      position: absolute;
      top: 12px;
      left: 370px;
      font-size: 1.2em;
    }
    .btn-key-control-add {
      display: flex;
      justify-content: center;
      background-color: var(--button);
      color: #fff;
      height: 2.4rem;
      width: 18rem;
      border: none;
      border-radius: 5px;
      align-items: center;
      padding: 0.7rem;
      cursor: pointer;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #27b9b4;
        width: 13px;
        padding: 0.2rem;
        height: 13px;
        border-radius: 18px;
        margin-top: 12px;
        margin-right: 4px;
      }
    }
  }
  table {
    border-spacing: 0;
    thead {
      .left {
        text-align: left;
      }
      th {
        text-align: center;
        border-bottom: rgb(228, 225, 225) solid 0.1px;
        padding: 0.4rem;
      }
    }
    tbody {
      tr {
        background-color: #ffffff;
        .left {
          text-align: left;
        }
        td {
          text-align: center;
          border-bottom: rgb(228, 225, 225) solid 0.1px;
          padding: 0.9rem;
          .action {
            display: flex;
            justify-content: center;
            #trash {
              background-color: #c37474;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: x-small;
              margin-left: 2px;
              color: #ffffff;
              cursor: pointer;
            }
            #edit {
              background-color: #3895b2;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: x-small;
              margin-left: 2px;
              color: #ffffff;
              cursor: pointer;
            }
            #check {
              background-color: #0086a3;
              color: #fff;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: x-small;
              cursor: pointer;
            }
            #xmark {
              background-color: #c37474;
              width: 20px;
              height: 20px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: x-small;
              margin-left: 3px;
              color: #ffffff;
              cursor: pointer;
            }
          }
        }
        .approved {
          display: flex;
          justify-content: center;
          .status {
            padding: 0.2rem;
            width: 14rem;
            color: var(--approved);
            border-radius: 6px;
            background-color: var(--bg-approved);
          }
        }
        .rejected {
          display: flex;
          justify-content: center;
          .status {
            padding: 0.2rem;
            width: 14rem;
            color: var(--rejected);
            border-radius: 6px;
            background-color: var(--bg-rejected);
          }
        }
        .waiting {
          display: flex;
          justify-content: center;
          .status {
            padding: 0.2rem;
            width: 14rem;
            color: var(--waiting);
            border-radius: 6px;
            background-color: var(--bg-waiting);
          }
        }
        .drafted {
          display: flex;
          justify-content: center;
          .status {
            padding: 0.2rem;
            width: 14rem;
            color: var(--drafted);
            border-radius: 6px;
            background-color: var(--bg-drafted);
          }
        }
      }
      tr:hover {
        background-color: #f8f8f8;
      }
    }
  }
}
