.dcor-head-rcsa-content {
  background-color: #f1f1f1;
  height: 100vh;
  padding-top: 0.2rem;

  .head-dcor-head-rcsa {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    border: rgb(228, 225, 225) solid 0.1px;
    align-items: center;
    border-radius: 11px;
    margin: 16px;
    padding: 16px;
    font-size: small;

    .list-action {
      display: flex;
      justify-content: flex-start;

      .unit p {
        display: flex;
        flex-direction: column;
        color: rgb(209, 205, 205);
        font-size: 13px;
      }

      .unit #select-unit {
        width: 10rem;
        border: none;
        background-color: #f7f7f7;
        padding: 0.4rem;
        cursor: pointer;
      }

      .periode {
        margin-left: 0.5rem;
      }

      .periode p {
        display: flex;
        flex-direction: column;
        color: rgb(209, 205, 205);
        font-size: 13px;
      }

      .periode #select-periode {
        width: rem;
        border: none;
        background-color: #f7f7f7;
        padding: 0.4rem;
        cursor: pointer;
      }

      .periode #select-q {
        margin-left: 0.2rem;
        width: 3.5rem;
        border: none;
        background-color: #f7f7f7;
        padding: 0.4rem;
        cursor: pointer;
      }

      .search label {
        margin-left: 1rem;
        margin-top: 2rem;
        position: relative;
        width: 20rem;
        height: 1rem;
      }

      .search label input {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        padding: 3px 15px;
        padding-left: 35px;
        font-size: 15px;
        outline: none;
        border: none;
        background-color: #f7f7f7;
      }

      .search label input:focus {
        border: 1px solid #40bab5;
        box-shadow: 0 0 3px #40bab5;
      }

      .search label i {
        position: absolute;
        top: 10px;
        left: 290px;
        font-size: 1.2em;
      }
    }

    .action-button {
      display: flex;
      em + em {
        margin-left: 0.5rem;
      }
      .approve {
        display: flex;
        justify-content: center;
        background-color: var(--button);
        color: #fff;
        height: 2rem;
        width: 8rem;
        border: none;
        border-radius: 5px;
        align-items: center;
        // padding: 0.7rem;
        margin-right: 0.3rem;
      }

      .rejected {
        display: flex;
        justify-content: center;
        background-color: #c37474;
        color: #fff;
        height: 2rem;
        width: 8rem;
        border: none;
        border-radius: 5px;
        align-items: center;
        // padding: 0.7rem;
      }
    }
  }

  .data-dcor-head-rcsa {
    background: rgb(255, 255, 255);
    border: rgb(228, 225, 225) solid 0.1px;
    border-radius: 11px;
    margin: 16px;
    padding: 6px;

    table {
      font-size: 14px;
      width: 100%;
      margin-top: 6px;
      border-spacing: 0;

      thead {
        color: #222222;

        th {
          text-align: center;
          padding: 0.7rem;
        }
      }

      tbody {
        tr {
          background-color: #ffffff;

          td {
            text-align: center;
            border-bottom: rgb(228, 225, 225) solid 0.1px;
            padding: 0.5rem;

            .action-table {
              display: flex;

              // justify-content: center;
              #check {
                background-color: #0086a3;
                color: #fff;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: x-small;
                cursor: pointer;
              }

              #xmark {
                background-color: #c37474;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: x-small;
                margin-left: 3px;
                color: #ffffff;
                cursor: pointer;
              }

              #document {
                background-color: #f9b546;
                color: #fff;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: x-small;
                cursor: pointer;
                margin-left: 3px;
              }

              #eye {
                background-color: #0086a3;
                color: #fff;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: x-small;
                cursor: pointer;
                margin-left: 4px;
              }

              #downDcorHeadRcsa {
                margin-left: 2rem;
                margin-top: 5px;
                cursor: pointer;
              }
            }

            .greendcor {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: #0da136;
              }
            }

            .yellowdcor {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: yellow;
              }
            }

            .orangedcor {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: orange;
              }
            }

            .green-lightdcor {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: #74d99c;
              }
            }

            .reddcor {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                color: var(--white);
                background-color: #a10d0d;
              }
            }

            .green {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: #0da136;
              }
            }

            .yellow {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: yellow;
              }
            }

            .orange {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: orange;
              }
            }

            .green-light {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                background-color: #74d99c;
              }
            }

            .red {
              display: flex;
              justify-content: center;

              span {
                height: fit-content;
                padding: 0.3rem;
                width: 6rem;
                font-weight: bold;

                text-align: center;
                color: var(--white);
                background-color: #a10d0d;
              }
            }
          }

          .expand {
            padding: 1.5rem;
            .expandData {
              border-radius: 5px;
              padding: 0.01rem;
              padding-top: 1px;
              background-color: var(--table-head);

              table {

                thead {
                  th {
                    background-color: var(--table-head);
                  }
                }

                tbody {
                  tr {
                    td {
                      .green-num {
                        display: flex;
                        justify-content: center;

                        span {
                          height: fit-content;
                          padding: 0.3rem;
                          width: 6rem;
                          font-weight: 500;
                          font-size: smaller;
                          text-align: center;
                          color: var(--white);
                          background-color: var(--green-num);
                        }
                      }

                      .green-light-num {
                        display: flex;
                        justify-content: center;

                        span {
                          height: fit-content;
                          padding: 0.3rem;
                          width: 6rem;
                          font-weight: 500;
                          font-size: smaller;
                          text-align: center;
                          background-color: var(--green-num-light);
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .pagination {
            background-color: #dfebf1;
            height: 2.5rem;
            padding: 1rem;
            margin-top: 0.7rem;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          .waiting {
            //   padding-left: 30px;
            //   padding-right: 0px;
            display: inline-block;
            .status {
              font-weight: bold;
              width: 13rem;
              height: fit-content;
              padding: 0.2rem;
              border-radius: 6px;
              color: #000000;
              background-color: #fff0ba;
            }
          }

          .approved {
            display: inline-block;
            .status {
              font-weight: bold;
              width: 13rem;
              height: fit-content;
              padding: 0.2rem;
              border-radius: 6px;
              color: #000000;
              background-color: #c7ffe0;
            }
          }

          .drafted {
            display: inline-block;
            .status {
              font-weight: bold;
              width: 13rem;
              height: fit-content;
              padding: 0.2rem;
              border-radius: 6px;
              color: var(--drafted);
              background-color: var(--bg-drafted);
            }
          }
        }
      }
    }
  }
}
mat-spinner {
  left: 50%;
  margin-left: -4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

.reject-btn {
  padding: 0 60px;
  margin-left: 15px;
}
