.periode-length {
    width: 300px;
}

.source-ct-length {
    width: 630px;
}

.btn-light-grey {
    background-color: #ffffff;
}

.btn-green-tosca {
    background-color: #00a39e;
    color: white;
}

.btn-cancel-length {
    width: 100px;
}

.btn-add-ct {
    margin-left: 30px;
    width: 510px;
}