<div class="container">
    <h3><b>ADD CT</b></h3>

    <div class="row">
        <div class="col-md-12">
            Periode
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="periode-length">
                <mat-label>2022</mat-label>
                <mat-select>
                    <mat-option value="2022">2022</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="periode-length">
                <mat-label>Q1</mat-label>
                <mat-select>
                    <mat-option value="q1">Q1</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            SOURCE CT
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill" class="source-ct-length">
                <mat-label>RCSA</mat-label>
                <mat-select>
                    <mat-option value="2022">2022</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row mt-5">
        <button mat-stroked-button class="btn btn-light-grey btn-cancel-length">CANCEL</button>
        <button mat-stroked-button class="btn btn-green-tosca btn-add-ct">ADD CT</button>
    </div>
</div>
