
<body class="bg-dark text-white py-5">
    <div class="container py-5">
         <div class="row">
              <div class="col-md-2 text-center">
                   <p><em class="fa fa-exclamation-triangle fa-5x"></em><br/>Status Code: 500</p>
              </div>
              <div class="col-md-10">
                   <h3>Internal Server Error</h3>
                   <p>
                        The server encountered an internal error or misconfiguration and was unable to complete your request.<br>
                        Please contact the server administrator at [email protected] to inform them of the time this error occurred, and the actions you performed just before this error.
                   </p>
              </div>
         </div>
    </div>
</body>