div.overflow {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

.key-process-length {
    width: 500px;
}

.key-risks-length {
    width: 500px;
}

.key-control-length {
    width: 500px;
}

.ketentuan-length {
    width: 500px;
}

.control-testing-script-length {
    width: 1030px;
}

.div-4-length {
    width: 240px;
    text-align: center;
}

.crss-red-blood {
    background-color: #a10d0d;
}

.operating-effectiveness-length {
    width: 300px;
}

.penjelasan-oe-length {
    width: 680px;
}

.ktl-length {
    width: 1030px;
}

.due-date-length {
    width: 1030px;
}

.pic-length {
    width: 950px;
}

.btn-green-tosca {
    background-color: #00a39e;
}

.btn-cancel {
    width: 200px;
}

.btn-save {
    width: 800px;
    margin-left: 50px;
}