<div class="user-cabang">
  <div class="head">
    <div class="search">
      <label>
        <input type="text" placeholder="Cari" />
        <i class="fa-solid fa-magnifying-glass"></i>
      </label>
    </div>
    <button>
      <p>+</p>
      ADD CABANG
    </button>
  </div>
  <table>
    <thead>
      <th class="left">No.</th>
      <th class="left">Cabang</th>
      <th class="left">Area</th>
      <th class="left">Region</th>
      <th>Review</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>KC BANDA ACEH DIPONEGORO</td>
        <td>Area Aceh</td>
        <td>RO 1 Aceh</td>
        <td class="approved">
          <div class="status">
            <strong>APPROVED</strong>
          </div>
        </td>
        <td>
          <div class="action-table">
            <i class="fa fa-trash" id="trash"></i>
            <i class="fa-solid fa-pen-to-square" id="edit"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>KC BANDA ACEH AHMAD DAHLAN</td>
        <td>Area Lhokseumawe</td>
        <td>RO 1 Aceh</td>
        <td class="approved">
          <div class="status">
            <strong>APPROVED</strong>
          </div>
        </td>
        <td>
          <div class="action-table">
            <i class="fa fa-trash" id="trash"></i>
            <i class="fa-solid fa-pen-to-square" id="edit"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
