<div class="container" style="font-size: 10px;">
    <div class="row">
      <label class="col-sm-1 col-form-label">CABANG</label>
      <div class="input-group input-group-sm col-sm-11" style="width: 250px;">
        <input type="text" class="form-control" disabled>
      </div>
    </div>
  </div>
  
  <table id="modal-view-area" style="width: 100%; font-size: 10px; margin-left: -23px;">
    <tr style="background-color: #f2f2f2;">
      <th>KEY PROCESS</th>
      <th>KEY RISK</th>
      <th class="text-center">LIKELIHOOD</th>
      <th class="text-center">IMPACT</th>
      <th class="text-center">IHRR</th>
      <th class="text-center">IHRR PREDICATE</th>
      <th class="text-center">CONTROL</th>
      <th class="text-center">CONTROL RATING</th>
      <th class="text-center">RCSA COMPOSITE SCORE</th>
      <th class="text-center">ROUND COMPOSITE</th>
      <th class="text-center">COMPOSITE RCSA</th>
      <th class="text-center">KEY CONTROL</th>
      <th>REFERENSI KETENTUAN</th>
    </tr>
    <tr>
      <td>Pengelolaan user id & Password Transaksi</td>
      <td>Risiko penyalahgunaan user ID dan password transaksi oleh pihak yang tidak berhak</td>
      <td class="text-center">3</td>
      <td class="text-center">2</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td>Management Resiko Operasional</td>
      <td>SPP Management Resiko Operasional</td>
    </tr>
    <tr>
      <td>Pengelolaan user id & Password Transaksi</td>
      <td>Risiko penyalahgunaan user ID dan password transaksi oleh pihak yang tidak berhak</td>
      <td class="text-center">3</td>
      <td class="text-center">2</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td>Management Resiko Operasional</td>
      <td>SPP Management Resiko Operasional</td>
    </tr>
    <tr>
      <td>Pengelolaan user id & Password Transaksi</td>
      <td>Risiko penyalahgunaan user ID dan password transaksi oleh pihak yang tidak berhak</td>
      <td class="text-center">3</td>
      <td class="text-center">2</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td>Management Resiko Operasional</td>
      <td>SPP Management Resiko Operasional</td>
    </tr>
    <tr>
      <td>Pengelolaan user id & Password Transaksi</td>
      <td>Risiko penyalahgunaan user ID dan password transaksi oleh pihak yang tidak berhak</td>
      <td class="text-center">3</td>
      <td class="text-center">2</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td>Management Resiko Operasional</td>
      <td>SPP Management Resiko Operasional</td>
    </tr>
    <tr>
      <td>Pengelolaan user id & Password Transaksi</td>
      <td>Risiko penyalahgunaan user ID dan password transaksi oleh pihak yang tidak berhak</td>
      <td class="text-center">3</td>
      <td class="text-center">2</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td>Management Resiko Operasional</td>
      <td>SPP Management Resiko Operasional</td>
    </tr>
    <tr>
      <td>Pengelolaan user id & Password Transaksi</td>
      <td>Risiko penyalahgunaan user ID dan password transaksi oleh pihak yang tidak berhak</td>
      <td class="text-center">3</td>
      <td class="text-center">2</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td>Management Resiko Operasional</td>
      <td>SPP Management Resiko Operasional</td>
    </tr>
    <tr>
      <td>Pengelolaan user id & Password Transaksi</td>
      <td>Risiko penyalahgunaan user ID dan password transaksi oleh pihak yang tidak berhak</td>
      <td class="text-center">3</td>
      <td class="text-center">2</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px;">Medium</p></td>
      <td>Management Resiko Operasional</td>
      <td>SPP Management Resiko Operasional</td>
    </tr>
    <tr style="background-color: #f2f2f2;">
      <td colspan="4" class="text-center">PREDICATE LEVERAGE</td>
      <td class="text-center">6</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px; margin-top: 10px;">Medium</p></td>
      <td class="text-center">5</td>
      <td><p class="marginal" style="width: 80px; margin-left: 10px; margin-top: 10px;">Marginal</p></td>
      <td class="text-center" style="width: 100px;">5,2</td>
      <td class="text-center">5</td>
      <td><p class="medium" style="width: 80px; margin-left: 10px; margin-top: 10px;">Medium</p></td>
      <td colspan="2"></td>
    </tr>
  </table>
  
  
