.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.btn-add-ct {
    height: 50px;
    width: 350px;
    background-color: #27bab4;
    color: white;
}

.btn-green-tosca {
    background-color: #00a39e;
    color: white;
}

.btn-dark-grey {
    background-color: #a7a7a7;
    color: white;
}

.btn-add-key-process {
    width: 550px;
}

.btn-submit {
    width: 550px;
    margin-left: 45px;
}

.title-head {
    height: 50px;
    color: black;
}

.radius-0 {
    border-radius: 0%;
}

#tb-dcor-officer tr th {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #ffffff;
}

#tb-dcor-officer tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #ffffff;
}

.bg-light-green {
    background-color: #7ac374;
}

.btn-size-action {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.icon-size-action {
    font-size: 10px;
    margin-top: -22px;
}

.status-waiting {
    background-color: #fff5d2;
    color: #fbbf64;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

div.overflow {
    overflow: auto;
    border-radius: 10px;
}

#tb-control-testing tr th {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 110px;
    padding-left: 10px;
    background-color: #f7f7f7;
    white-space: nowrap;
}

#tb-control-testing tr td {
    padding-left: 10px;
}

#tb-control-testing tr:nth-child(odd) td{
    background-color: #f7f7f7;
}

.belum-dinilai {
    background-color: #fef5e4;
    color: #fab046;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.sudah-dinilai {
    background-color: #f4fdfc;
    color: #2ab3ac;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.paginator {
    background-color: #e0ebf1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}