<app-content>
  <ng-container content>
    <div class="content">
      <div *ngIf="formulir; else utama">
        <div class="formulir">
          <header>
            <p>
              <i class="fa fa-chevron-left" (click)="closeFormulir()" aria-hidden="true"></i>
            </p>
            <span>Enterprise Risk Management System</span>
          </header>
          <div class="title">
            <h2>
              <strong>FORMULIR USULAN DAN KEPUTUSAN MEMBUKU KRO</strong>
            </h2>
          </div>
          <p class="nomor-formulir">NOMOR : AA21KRO22/2022/KRO</p>
          <div class="unit">
            <div class="tag">UNIT</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>KC ACEH 1</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">RISK ISSUE</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>Fraud Internal</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">LOSS EVENT TYPE</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>KECURANGAN INTERNAL</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">GL KRO</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>625589</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">DAMPAK NON FINANCIAL</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>REPUTATION DAMAGE</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag"></div>
            <div class="detail">
              <p></p>
              <p class="data">Pemburukan pandangan publik terhadap Bank.</p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">DAMPAK FINANCIAL</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>WRITE-DOWN</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="sub-detail">IDENTIFIKASI PERISTIWA</div>
          </div>
          <div class="unit">
            <div class="tag">TANGGAL PERTAMA KEJADIAN</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>12/12/20</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">TANGGAL TERDETEKSI</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>12/12/20</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">CAUSE TYPE 1</div>
            <div class="detail">
              <p>:</p>
              <p class="data"><strong>ASPEK SDM</strong></p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">CAUSE TYPE 2</div>
            <div class="detail">
              <p>:</p>
              <p class="data">
                <strong>KETIDAKCUKUPAN VOLUME TRANSAKSI/AKTIVITAS</strong>
              </p>
            </div>
          </div>
          <div class="unit">
            <div class="tag"></div>
            <div class="detail">
              <p></p>
              <p class="data2">Pemburukan pandangan publik terhadap Bank.</p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">NOMINAL KERUGIAN</div>
            <div class="detail">
              <p>:</p>
              <p class="data">
                <strong>Rp. 2.988.211.000</strong>
              </p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">KEWAJIBAN HUKUM JIKA ADA</div>
            <div class="detail">
              <p>:</p>
              <p class="data">
                <strong>Rp. 2.988.211.000</strong>
              </p>
            </div>
          </div>
          <div class="unit">
            <div class="tag"></div>
            <div class="detail">
              <p></p>
              <p class="data">Pemburukan pandangan publik terhadap Bank.</p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">KEWAJIBAN HUKUM JIKA ADA</div>
            <div class="detail">
              <p>:</p>
              <p class="data">
                <strong>Rp. 4.988.211.000</strong>
              </p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">KERUGIAN BERSIH</div>
            <div class="detail">
              <p>:</p>
              <p class="data3">
                <strong>Rp. 6.988.211.000</strong>
              </p>
            </div>
          </div>
          <div class="unit">
            <div class="tag">DESKRIPSI KEJADIAN</div>
            <div class="detail">
              <p>:</p>
              <p class="data">Pemburukan pandangan publik terhadap Bank.</p>
            </div>
          </div>
          <div class="unit">
            <div class="tag2"><strong>PENGUSUL</strong></div>
          </div>
          <div class="pengusul">
            <div class="box">
              <p>PENGUSUL 1</p>
              <p><strong>JABATAN</strong></p>
            </div>
            <div class="box2">
              <p>PENGUSUL 2</p>
              <p><strong>JABATAN</strong></p>
            </div>
          </div>
          <div class="unit" style="margin-top: 2rem">
            <div class="tag2"><strong>VERIFIKATOR</strong></div>
          </div>
          <div class="pengusul">
            <div class="box">
              <p>VERIFIKATOR</p>
              <p><strong>JABATAN</strong></p>
            </div>
            <div class="box2">
              <p>VERIFIKATOR</p>
              <p><strong>JABATAN</strong></p>
            </div>
          </div>
          <div class="unit" style="margin-top: 2rem">
            <div class="tag2"><strong>LEMBAR KEPUTUSAN</strong></div>
          </div>
          <table>
            <thead>
              <th class="sampaikan">Disampaikan Kepada Yth.</th>
              <th class="keputusan">Keputusan</th>
            </thead>
            <tbody>
              <tr>
                <td style="border-right: #000000 solid 0.1px">
                  <p>PEMUTUS</p>
                  <p><strong>JABATAN</strong></p>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="date">Jakarta, 02 Agustus 2022</div>
          <div class="name">PEMUTUS</div>
          <div class="jabatan"><strong>JABATAN</strong></div>
        </div>
      </div>
      <ng-template #utama>
        <div class="head">
          <input type="text" placeholder="Cari" />
        </div>
        <div class="data-led-pemutus">
          <table aria-describedby>
            <thead>
              <th>No</th>
              <th>No. Reg</th>
              <th>Risk Issue</th>
              <th>Unit Pengusul</th>
              <th>Kerugian Bersih</th>
              <th>Pesetujuan</th>
              <th>Status</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>AA21KRO22</td>
                <td>Fraud Internal</td>
                <td>Cabang Aceh 1</td>
                <td>-</td>
                <td class="offline">
                  <div class="status">OFFLINE</div>
                </td>
                <td class="waiting">
                  <div class="status">WAITING FOR APPROVAL</div>
                </td>
                <td>
                  <div class="action-table">
                    <i class="fa fa-check" id="check" (click)="submit()" aria-hidden="true"></i>
                    <i
                      class="fa-solid fa-pen"
                      id="pen"
                      (click)="revision()" aria-hidden="true"
                    ></i>
                    <i class="fa fa-xmark" id="xmark" (click)="rejected()" aria-hidden="true"></i>
                    <i
                      class="fa fa-cloud-arrow-down"
                      id="download"
                      (click)="download()" aria-hidden="true"
                    ></i>
                    <i class="fa fa-eye" id="eye" (click)="openFormulir()" aria-hidden="true"></i>
                    <i
                      class="fa fa-chevron-up"
                      id="up"
                      role="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#ledpemutus"
                      aria-expanded="false"
                      aria-controls="ledpemutus" aria-hidden="true"
                    ></i>
                  </div>
                </td>
              </tr>
              <tr class="collapse" id="ledpemutus">
                <td colspan="8" style="overflow-x: auto">
                  <table aria-describedby aria-hidden="true">
                    <div class="scroll">
                      <table class="table-expand-1-led-pengusul" aria-describedby>
                        <thead>
                          <th style="width: 3rem">No.id</th>
                          <th style="width: 10rem">Unit Kerja</th>
                          <th>Segmen/Dept.</th>
                          <th style="width: 14rem">
                            Kategori Type Kejadian LV. 1
                          </th>
                          <th style="width: 14rem">
                            Kategori Type Kejadian LV. 2
                          </th>
                          <th style="width: 14rem">
                            Kategori Type Kejadian LV. 3
                          </th>
                          <th>Penyebab LV. 1</th>
                          <th>Penyebab LV. 2</th>
                          <th>Dampak Financial</th>
                          <th style="width: 15rem">Dampak Non Financial</th>
                          <th>Deskripsi Kejadian</th>
                          <th style="width: 15rem">Tanggal Pertama Kejadian</th>
                          <th style="width: 15rem">Tanggal Terdeteksi</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>-</td>
                            <td>Area 2 Aceh</td>
                            <td>Operasional</td>
                            <td>Kecurangan Internal</td>
                            <td>Aktivitas tidak sah</td>
                            <td>Transaksi tidak dilaporkan</td>
                            <td>Proses Internal</td>
                            <td>Prosedur/ketentuan</td>
                            <td>Write-down(Berkurangnya nilai asset)</td>
                            <td>Reputational Damage (Penurunan Reputasi)</td>
                            <td>-</td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table class="table-expand-2-led-pengusul" aria-describedby>
                      <thead>
                        <th colspan="7">PEMBUKUAN KRO</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="sub-title">Tgl Pembukuan</td>
                          <td class="sub-title">Rek.Pembukuan</td>
                          <td class="sub-title">Tgl Pelaporan</td>
                          <td class="sub-title">Nominal Kerugian (Rp)</td>
                          <td class="sub-title">
                            Nominal Kewajiban Hukum (Rp)
                          </td>
                          <td class="sub-title">Recovery awal</td>
                          <td class="sub-title">Total Kerugian Bruto</td>
                        </tr>
                        <tr>
                          <td>-</td>
                          <td>54112</td>
                          <td>12/12/2022</td>
                          <td>Rp. 500.000.000</td>
                          <td>Rp. 200.000.000</td>
                          <td>Rp. 100.000.000</td>
                          <td>Rp. 700.000.000</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table-expand-3-led-pengusul" aria-describedby>
                      <thead>
                        <th colspan="5">RECOVERY</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="sub-title">Tgl Pembukuan</td>
                          <td class="sub-title">Rek. Pembukuan</td>
                          <td class="sub-title">Nominal Recovery (Rp)</td>
                          <td class="sub-title">Sumber</td>
                          <td class="sub-title">Kerugian bersih</td>
                        </tr>
                        <tr>
                          <td>12/12/2022</td>
                          <td>54122</td>
                          <td>Rp. 500.000.000</td>
                          <td>-</td>
                          <td>Rp. 700.000.000</td>
                        </tr>
                        <tr>
                          <td>12/12/2022</td>
                          <td>54122</td>
                          <td>Rp. 500.000.000</td>
                          <td>-</td>
                          <td>Rp. 700.000.000</td>
                        </tr>
                        <tr>
                          <td>12/12/2022</td>
                          <td>54122</td>
                          <td>Rp. 500.000.000</td>
                          <td>-</td>
                          <td>Rp. 700.000.000</td>
                        </tr>
                      </tbody>
                    </table>
                    <button style="display: none;">
                      <p>+</p>
                      ADD RECOVERY
                    </button>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
    <div class="container" style=" padding: 30px;display: none;">
        <mat-card class="row" >
            <div class="col-4">
                <input class="form-control" type="text" placeholder="Cari">
            </div>
        </mat-card>
    </div>
    --
    <div style=" margin-right: 50px; margin-left:45px ;display: none;">
    <div class="row" >
        <mat-expansion-panel class="radius-0" disabled >
          <mat-expansion-panel-header class="title-head fs-12">
            <mat-panel-title>
              No
            </mat-panel-title>
            <mat-panel-title>
              No. Reg
            </mat-panel-title>
            <mat-panel-title>
              Risk Issue
            </mat-panel-title>
            <mat-panel-title>
              Unit Pengusul
            </mat-panel-title>
            <mat-panel-title>
              Kerugian Bersih
            </mat-panel-title>
            <mat-panel-title>
              Persetujuan
            </mat-panel-title>
            <mat-panel-title>
              Status
            </mat-panel-title>
            <mat-panel-title>
                Action
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="radius-0">
          <mat-expansion-panel-header class="fs-12">
            <mat-panel-title>
              1
            </mat-panel-title>
            <mat-panel-title>
              AA21KRO22
            </mat-panel-title>
            <mat-panel-title>
              Fraud Internal
            </mat-panel-title>
            <mat-panel-title>
              Cabang Aceh 1
            </mat-panel-title>
            <mat-panel-title>
              Rp. 500.000.000
            </mat-panel-title>
            <mat-panel-title>
              <p class="offline">OFFLINE</p>
            </mat-panel-title>
            <mat-panel-title>
               <p class="approved">APPROVED</p>
            </mat-panel-title>
            <mat-panel-title>
                <i class="fa fa-eye" id="eye"></i>
                <i class="fa fa-cloud-arrow-up" id="upload"></i>
                <i class="fa fa-cloud-arrow-down" id="download"></i>
                <i class="fa-solid fa-pen-to-square" id="edit"></i>
             </mat-panel-title>
          </mat-expansion-panel-header>
    SUB
    <hr>
    <div class="divider" style="box-shadow: none;"></div>

    <div class="overflow row i-size-10">
              <table id="table-1">
                  <tr>
                      <td class="header">No. id</td>
                      <td class="header">Unit Kerja</td>
                      <td class="header">Segmen/Dept.</td>
                      <td class="header">Kategori Type Kejadian LV.1</td>
                      <td class="header">Kategori Type Kejadian LV.2</td>
                      <td class="header">Kategori Type Kejadian LV.3</td>
                      <td class="header">Penyebab LV. 1</td>
                      <td class="header">Penyebab LV. 2</td>
                      <td class="header">Dampak Finansial</td>
                      <td class="header">Dampak Non Finansial</td>
                      <td class="header">Deskripsi Kejadian</td>
                      <td class="header">Tanggal Pertama Kejadian</td>
                      <td class="header">Tanggal Terdeteksi</td>
                  </tr>
                  <tr>
                      <td>-</td>
                      <td>Area  2 Aceh</td>
                      <td>Operasional</td>
                      <td>Kecurangan Internal</td>
                      <td>Aktifitas tidak sah</td>
                      <td>Transaksi tidak dilaporkan</td>
                      <td>Proses Internal</td>
                      <td>Prosedur/ketentuan</td>
                      <td>Write-down (Berkurangnya nilai asset)</td>
                      <td>Reputational Damage (Penurunan Reputasi)</td>
                      <td>-</td>
                      <td></td>
                      <td></td>
                  </tr>
              </table>
            </div>

    <div class="overflow row i-size-10">
              <table id="table-2" style="width: 100%;">
                  <tr>
                      <th colspan="8" class="header">PEMBUKUAN KRO</th>
                  </tr>
                  <tr>
                      <td class="sub-header">Tgl Pembukuan</td>
                      <td class="sub-header">Rek Pembukuan</td>
                      <td class="sub-header">Tgl Pelaporan</td>
                      <td class="sub-header">Nominal Kerugian (Rp)</td>
                      <td class="sub-header">Nominal Kewajiban Hukum (Rp)</td>
                      <td class="sub-header">Recovery Awal</td>
                      <td class="sub-header">Total Kerugian Bruto</td>
                      <td class="sub-header">Action</td>
                  </tr>
                  <tr>
                      <td>
                          <input id="datepicker" placeholder="12/12/2022" matInput [matDatepicker]="pickerKro11">
                          <mat-datepicker-toggle matSuffix [for]="pickerKro11"></mat-datepicker-toggle>
                          <mat-datepicker #pickerKro11></mat-datepicker>
                          <div style="margin-left: 50px;">
                                
                              <p class="approved">APPROVED</p>
                          </div>
                      </td>
                      <td>54112</td>
                      <td>12/12/2022</td>
                      <td>Rp. 500.000.000</td>
                      <td>Rp. 200.000.000</td>
                      <td>Rp. 100.000.000</td>
                      <td>Rp. 700.000.000</td>
                      <td>
                          <button mat-mini-fab style="background-color: #00a39e;" class="action-button">
                              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check" class="i-size-10 margin-icon"></mat-icon>
                          </button>
  
                          <button mat-mini-fab style="background-color: #aeaeae;" class="action-button ml-1">
                              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" class="i-size-10 margin-icon"></mat-icon>
                          </button>
                      </td>
                  </tr>
                  
              </table>
            </div>

    <div class="overflow row i-size-10">
              <table id="table-3">
                  <tr>
                      <th colspan="6" class="header">RECOVERY</th>
                  </tr>
                  <tr>
                      <td class="sub-header">Tgl Pembukuan</td>
                      <td class="sub-header">Rek Pembukuan</td>
                      <td class="sub-header">Nominal Recovery (Rp)</td>
                      <td class="sub-header">Sumber</td>
                      <td class="sub-header">Kerugian Bersih</td>
                      <td class="sub-header">Action</td>
                  </tr>
                  <tr>
                      <td>
                          <input id="datepicker" placeholder="12/12/2022" matInput [matDatepicker]="pickerRec11">
                          <mat-datepicker-toggle matSuffix [for]="pickerRec11"></mat-datepicker-toggle>
                          <mat-datepicker #pickerRec11></mat-datepicker>
                            
                          <div style="margin-left: 50px;">
                              <p class="approved">APPROVED</p>
                          </div>
                      </td>
                      <td>54112</td>
                      <td>Rp. 500.000.000</td>
                      <td>-</td>
                      <td>Rp. 700.000.000</td>
                      <td>
                          <button mat-mini-fab class="action-button" disabled>
                              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check" class="i-size-10 margin-icon"></mat-icon>
                          </button>
  
                          <button mat-mini-fab style="background-color: #aeaeae;" class="action-button ml-1">
                              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" class="i-size-10 margin-icon"></mat-icon>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <input id="datepicker" placeholder="12/12/2022" matInput [matDatepicker]="pickerRec12">
                          <mat-datepicker-toggle matSuffix [for]="pickerRec12"></mat-datepicker-toggle>
                          <mat-datepicker #pickerRec12></mat-datepicker>                        
                          <div style="margin-left: 50px;">
                              <p class="approved">APPROVED</p>
                          </div>
                      </td>
                      <td>54112</td>
                      <td>Rp. 500.000.000</td>
                      <td>-</td>
                      <td>Rp. 700.000.000</td>
                      <td>
                          <button mat-mini-fab class="action-button" disabled>
                              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="check" class="i-size-10 margin-icon"></mat-icon>
                          </button>
  
                          <button mat-mini-fab style="background-color: #aeaeae;" class="action-button ml-1">
                              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="close" class="i-size-10 margin-icon"></mat-icon>
                          </button>
                      </td>
                  </tr>
              </table>
            </div>

    END SUB
    </mat-expansion-panel>

    </div>
    </div>
  </ng-container>
</app-content>
