.buttonDialogClose {
    background-color: #51ce74;
    width: 100%;
}

.DialogExample {
    text-align: center;
}

th::first-letter{
    text-transform: uppercase;
}
td::first-letter{
    text-transform: uppercase;
}