<mat-drawer-container class="example-container">
  <mat-drawer mode="side" #drawer opened="true" style="width: 15rem">
    <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-container>
    <mat-toolbar style="display: flex; height: 7rem">
      <button
        mat-icon-button
        (click)="drawer.toggle()"
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        style="font-size: small"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="topbar">
        <div class="name">
          <div class="location">
            <i class="fa fa-house"></i>
            {{ data.breadCum }} > {{ data.title }}
          </div>
          <h2>{{ data.name }}</h2>
        </div>
        <img src="../../../../assets/bsi_putih.png" alt="" />
        <!-- <p>Enterprise Risk Management System</p> -->
      </div>
    </mat-toolbar>

    <ng-content select="[content]"></ng-content>

    <!-- <ng-content select="[content]"></ng-content> -->
  </mat-drawer-container>
</mat-drawer-container>
