<app-content>
  <ng-container content>
    <div class="content">
      <div style="display: none;">
        <mat-card class="row">
          <div class="col-4">
            <input class="form-control" type="text" placeholder="Cari" />
          </div>
        </mat-card>
         
        <div class="row">
          <mat-expansion-panel class="radius-0" disabled>
            <mat-expansion-panel-header class="title-head fs-12">
              <mat-panel-title> No </mat-panel-title>
              <mat-panel-title> No. Reg </mat-panel-title>
              <mat-panel-title> Risk Issue </mat-panel-title>
              <mat-panel-title> Unit Pengusul </mat-panel-title>
              <mat-panel-title> Kerugian Bersih </mat-panel-title>
              <mat-panel-title> Persetujuan </mat-panel-title>
              <mat-panel-title> Status </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
  
        <mat-expansion-panel
            *ngFor="let item of pembuku_ | async"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
            class="radius-0"
          >
            <mat-expansion-panel-header class="fs-12">
              <mat-panel-title>
                {{ item.id }}
              </mat-panel-title>
              <mat-panel-title>
                {{ item.no_reg }}
              </mat-panel-title>
              <mat-panel-title>
                {{ item.risk_issue }}
              </mat-panel-title>
              <mat-panel-title>
                {{ item.unit_pengusul }}
              </mat-panel-title>
              <mat-panel-title>
                {{ item.kerugian_bersih }}
              </mat-panel-title>
              <mat-panel-title>
                <p class="{{ item.persetujuan }}">{{ item.persetujuan }}</p>
              </mat-panel-title>
              <mat-panel-title>
                <p class="{{ item.status }}">{{ item.status }}</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
        SUB
        <hr>
        <div class="divider" style="box-shadow: none"></div>
  
            <div>
              <table id="table-1" aria-describedby>
                <tr>
                  <th class="header">No. id</th>
                  <th class="header">Unit Kerja</th>
                  <th class="header">Segmen/Dept.</th>
                  <th class="header">Kategori Type Kejadian LV.1</th>
                  <th class="header">Kategori Type Kejadian LV.2</th>
                  <th class="header">Kategori Type Kejadian LV.3</th>
                  <th class="header">Penyebab LV. 1</th>
                  <th class="header">Penyebab LV. 2</th>
                  <th class="header">Dampak Finansial</th>
                  <th class="header">Dampak Non Finansial</th>
                  <th class="header">Deskripsi Kejadian</th>
                  <th class="header">Tanggal Pertama Kejadian</th>
                  <th class="header">Tanggal Terdeteksi</th>
                </tr>
                <tr>
                  <td>-</td>
                  <td>Area 2 Aceh</td>
                  <td>Operasional</td>
                  <td>Kecurangan Internal</td>
                  <td>Aktifitas tidak sah</td>
                  <td>Transaksi tidak dilaporkan</td>
                  <td>Proses Internal</td>
                  <td>Prosedur/ketentuan</td>
                  <td>Write-down (Berkurangnya nilai asset)</td>
                  <td>Reputational Damage (Penurunan Reputasi)</td>
                  <td>-</td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
  
        <div class="overflow row i-size-10">
              <table id="table-2" style="width: 100%" aria-describedby>
                <tr>
                  <th colspan="8" class="header">PEMBUKUAN KRO</th>
                </tr>
                <tr>
                  <td class="sub-header">Tgl Pembukuan</td>
                  <td class="sub-header">Rek Pembukuan</td>
                  <td class="sub-header">Tgl Pelaporan</td>
                  <td class="sub-header">Nominal Kerugian (Rp)</td>
                  <td class="sub-header">Nominal Kewajiban Hukum (Rp)</td>
                  <td class="sub-header">Recovery Awal</td>
                  <td class="sub-header">Total Kerugian Bruto</td>
                  <td class="sub-header">Action</td>
                </tr>
                <tr>
                  <td>
                    <input
                      id="datepicker"
                      placeholder="12/12/2022"
                      matInput
                      [matDatepicker]="pickerKro11"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerKro11"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerKro11></mat-datepicker>
                    <div style="margin-left: 50px">
                      <p class="approved">APPROVED</p>
                    </div>
                  </td>
                  <td>54112</td>
                  <td>12/12/2022</td>
                  <td>Rp. 500.000.000</td>
                  <td>Rp. 200.000.000</td>
                  <td>Rp. 100.000.000</td>
                  <td>Rp. 700.000.000</td>
                  <td>
                    <button
                      mat-mini-fab
                      style="background-color: #00a39e"
                      class="action-button"
                    >
                      <mat-icon
                        fontIcon="check"
                        class="i-size-10 margin-icon"
                      ></mat-icon>
                    </button>
  
                    <button
                      mat-mini-fab
                      style="background-color: #aeaeae"
                      class="action-button ml-1"
                    >
                      <mat-icon
                        fontIcon="close"
                        class="i-size-10 margin-icon"
                      ></mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
  
        <div class="overflow row i-size-10">
              <table id="table-3" aria-describedby>
                <tr>
                  <th colspan="6" class="header">RECOVERY</th>
                </tr>
                <tr>
                  <td class="sub-header">Tgl Pembukuan</td>
                  <td class="sub-header">Rek Pembukuan</td>
                  <td class="sub-header">Nominal Recovery (Rp)</td>
                  <td class="sub-header">Sumber</td>
                  <td class="sub-header">Kerugian Bersih</td>
                  <td class="sub-header">Action</td>
                </tr>
                <tr>
                  <td>
                    <input
                      id="datepicker"
                      placeholder="12/12/2022"
                      matInput
                      [matDatepicker]="pickerRec11"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerRec11"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerRec11></mat-datepicker>
  
                    <div style="margin-left: 50px">
                      <p class="approved">APPROVED</p>
                    </div>
                  </td>
                  <td>54112</td>
                  <td>Rp. 500.000.000</td>
                  <td>-</td>
                  <td>Rp. 700.000.000</td>
                  <td>
                    <button mat-mini-fab class="action-button" disabled>
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="check"
                        class="i-size-10 margin-icon"
                      ></mat-icon>
                    </button>
  
                    <button
                      mat-mini-fab
                      style="background-color: #aeaeae"
                      class="action-button ml-1"
                    >
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="close"
                        class="i-size-10 margin-icon"
                      ></mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input
                      id="datepicker"
                      placeholder="12/12/2022"
                      matInput
                      [matDatepicker]="pickerRec12"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerRec12"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerRec12></mat-datepicker>
                    <div style="margin-left: 50px">
                      <p class="approved">APPROVED</p>
                    </div>
                  </td>
                  <td>54112</td>
                  <td>Rp. 500.000.000</td>
                  <td>-</td>
                  <td>Rp. 700.000.000</td>
                  <td>
                    <button mat-mini-fab class="action-button" disabled>
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="check"
                        class="i-size-10 margin-icon"
                      ></mat-icon>
                    </button>
  
                    <button
                      mat-mini-fab
                      style="background-color: #aeaeae"
                      class="action-button ml-1"
                    >
                      <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="close"
                        class="i-size-10 margin-icon"
                      ></mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
  
        END SUB
        </mat-expansion-panel>
        </div>
      </div>
      <div class="head">
        <input type="text" placeholder="Cari" />
      </div>
      <div class="data-led-pembuku">
        <table aria-describedby>
          <thead>
            <th>No</th>
            <th>No. Reg</th>
            <th>Risk Issue</th>
            <th>Unit Pengusul</th>
            <th>Kerugian Bersih</th>
            <th>Pesetujuan</th>
            <th>Status</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of ledData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.noReg }}</td>
              <td>{{ item.riskIssue }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ toRupiah(item.netLoss - totalRecov) }}</td>
              <td class="online">
                <div class="status">{{ item.agreement }}</div>
              </td>
              <td
                class="approved"
                *ngIf="item.status2 === statusApprove; else reject"
              >
                <div class="status">{{ item.status2 }}</div>
              </td>
              <ng-template #reject>
                <td
                  class="rejected"
                  *ngIf="item.status2 === statusReject; else waiting"
                >
                  <div class="status">
                    <strong>{{ item.status2 }}</strong>
                  </div>
                </td>
              </ng-template>
              <ng-template #waiting>
                <td class="waiting">
                  <div class="status">
                    <strong>{{ item.status2 }}</strong>
                  </div>
                </td>
              </ng-template>
              <td>
                <div class="action-table">
                  <div style="display: none;">
                    <i class="fa fa-check" id="check" aria-hidden="true"></i>
                    <i class="fa-solid fa-pen" id="pen" aria-hidden="true"></i>
                    <i class="fa fa-xmark" id="xmark" aria-hidden="true"></i>
                    <i class="fa fa-cloud-arrow-down" id="download" aria-hidden="true"></i>
                    <i class="fa fa-eye" id="eye" aria-hidden="true"></i>
                  </div>
                  <i
                    (click)="getIdLed(item)"
                    class="fa fa-chevron-up"
                    id="up"
                    role="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#ledpemutus"
                    aria-expanded="false"
                    aria-controls="ledpemutus"
                    aria-hidden="true"
                  ></i>
                </div>
              </td>
            </tr>
            <tr class="collapse" id="ledpemutus">
              <td colspan="8" style="overflow-x: auto">
                <table aria-describedby aria-hidden="true">
                  <div class="scroll">
                    <table class="table-expand-1-led-pengusul">
                      <thead>
                        <th style="width: 3rem">No.id</th>
                        <th style="width: 10rem">Unit Kerja</th>
                        <th>Divisi</th>
                        <th style="width: 14rem">
                          Kategori Type Kejadian LV. 1
                        </th>
                        <th style="width: 14rem">
                          Kategori Type Kejadian LV. 2
                        </th>
                        <th style="width: 14rem">
                          Kategori Type Kejadian LV. 3
                        </th>
                        <th>Penyebab LV. 1</th>
                        <th>Penyebab LV. 2</th>
                        <th>Dampak Financial</th>
                        <th style="width: 15rem">Dampak Non Financial</th>
                        <th>Deskripsi Kejadian</th>
                        <th style="width: 15rem">Tanggal Pertama Kejadian</th>
                        <th style="width: 15rem">Tanggal Terdeteksi</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of ledData; let i = index">
                          <td>{{ item.id }}</td>
                          <td>{{ item.unit }}</td>
                          <td>Risiko Operasional</td>
                          <td>{{ item.let1 }}</td>
                          <td>Aktivitas tidak sah</td>
                          <td>Transaksi tidak dilaporkan</td>
                          <td>{{ item.level1 }}</td>
                          <td>{{ item.level2 }}</td>
                          <td>{{ item.finImpact }}</td>
                          <td>{{ item.nonFinImpact }}</td>
                          <td>{{ item.descriptionEvent }}</td>
                          <td>{{ item.firstDateEvent }}</td>
                          <td>{{ item.dateDetected }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <table class="table-expand-2-led-pengusul" aria-describedby>
                    <thead>
                      <th colspan="8">PEMBUKUAN KRO</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="sub-title">Tgl Pembukuan</td>
                        <td class="sub-title">Rek.Pembukuan</td>
                        <td class="sub-title">Tgl Pelaporan</td>
                        <td class="sub-title">Nominal Kerugian (Rp)</td>
                        <td class="sub-title">Nominal Kewajiban Hukum (Rp)</td>
                        <td class="sub-title">Recovery awal</td>
                        <td class="sub-title">Total Kerugian Bruto</td>
                        <td class="sub-title">Action</td>
                      </tr>
                      <tr *ngFor="let item of ledData; let i = index">
                        <td
                          class="tanggal"
                          *ngIf="!isApprover; else approverRisk"
                        >
                          <input
                            type="date"
                            [ngModel]="item.tglPembukuan"
                            [formControl]="tglPembukuan"
                            (change)="addTglPembukuan(item)"
                          />
                          <span
                            class="approved"
                            *ngIf="
                              item.statusPembukuan === statusApprove;
                              else reject
                            "
                            >{{ item.statusPembukuan }}</span
                          >
                          <ng-template #reject>
                            <span
                              class="rejected"
                              *ngIf="
                                item.statusPembukuan === statusReject;
                                else waiting
                              "
                              >{{ item.statusPembukuan }}</span
                            >
                          </ng-template>
                          <ng-template #waiting>
                            <span class="waiting">{{
                              item.statusPembukuan
                            }}</span>
                          </ng-template>
                        </td>
                        <ng-template #approverRisk>
                          <td class="tanggal">
                            {{ item.tglPembukuan }}
                            <span
                              class="approved"
                              *ngIf="
                                item.statusPembukuan === statusApprove;
                                else reject
                              "
                              >{{ item.statusPembukuan }}</span
                            >
                            <ng-template #reject>
                              <span
                                class="rejected"
                                *ngIf="
                                  item.statusPembukuan === statusReject;
                                  else waiting
                                "
                                >{{ item.statusPembukuan }}</span
                              >
                            </ng-template>
                            <ng-template #waiting>
                              <span class="waiting">{{
                                item.statusPembukuan
                              }}</span>
                            </ng-template>
                          </td>
                        </ng-template>
                        <td>5411{{ item.id }}</td>
                        <td>{{ item.firstDateEvent }}</td>
                        <td>{{ toRupiah(item.totalLoss) }}</td>
                        <td>{{ toRupiah(item.legalObligation) }}</td>
                        <td>{{ toRupiah(item.totalRecovery) }}</td>
                        <td>
                          {{ toRupiah(item.totalLoss + item.legalObligation) }}
                        </td>
                        <td *ngIf="!isApprover; else approverLED">
                          <div class="action-table"></div>
                        </td>
                        <ng-template #approverLED>
                          <td>
                            <div class="action-table">
                              <i
                                class="fa fa-check"
                                id="check"
                                (click)="approvedPembuku(item)"
                              ></i>
                              <i
                                class="fa fa-xmark"
                                id="xmark"
                                (click)="toRejectPembuku(item)"
                              ></i>
                            </div>
                          </td>
                        </ng-template>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table-expand-3-led-pengusul" aria-describedby>
                    <thead>
                      <th colspan="6">RECOVERY</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="sub-title">Tgl Pembukuan</td>
                        <td class="sub-title">Rek. Pembukuan</td>
                        <td class="sub-title">Nominal Recovery (Rp)</td>
                        <td class="sub-title">Sumber</td>
                        <td class="sub-title">Kerugian bersih</td>
                        <td class="sub-title">Action</td>
                      </tr>
                      <tr *ngFor="let item of recovData; let i = index">
                        <td
                          class="tanggal"
                          *ngIf="!isApprover; else approverRisk"
                        >
                          <input
                            type="date"
                            [ngModel]="item.tglBukuRecovery"
                            [formControl]="tglBukuRecovery"
                            (change)="addDateRec(item)"
                          />
                          <span
                            class="approved"
                            *ngIf="
                              item.statusRec === statusApprove;
                              else reject
                            "
                            >{{ item.statusRec }}</span
                          >
                          <ng-template #reject>
                            <span
                              class="rejected"
                              *ngIf="
                                item.statusRec === statusReject;
                                else waiting
                              "
                              >{{ item.statusRec }}</span
                            >
                          </ng-template>
                          <ng-template #waiting>
                            <span class="waiting">{{ item.statusRec }}</span>
                          </ng-template>
                        </td>
                        <ng-template #approverRisk>
                          <td class="tanggal">
                            {{ item.tglBukuRecovery }}
                            <span
                              class="approved"
                              *ngIf="
                                item.statusRec === statusApprove;
                                else reject
                              "
                              >{{ item.statusRec }}</span
                            >
                            <ng-template #reject>
                              <span
                                class="rejected"
                                *ngIf="
                                  item.statusRec === statusReject;
                                  else waiting
                                "
                                >{{ item.statusRec }}</span
                              >
                            </ng-template>
                            <ng-template #waiting>
                              <span class="waiting">{{ item.statusRec }}</span>
                            </ng-template>
                          </td>
                        </ng-template>
                        <td>5412{{ item.id }}</td>
                        <td>{{ toRupiah(item.recoveryAdd) }}</td>
                        <td>{{ item.sumber }}</td>
                        <td>
                          {{
                            toRupiah(
                              nominalKerugian +
                                nominalHukum -
                                (recoveryAwal + item.recoveryAdd)
                            )
                          }}
                        </td>
                        <td *ngIf="!isApprover; else approverLED">
                          <div class="action-table"></div>
                        </td>
                        <ng-template #approverLED>
                          <td>
                            <div class="action-table">
                              <i
                                class="fa fa-check"
                                id="check"
                                (click)="approvedRec(item)"
                              ></i>
                              <i
                                class="fa fa-xmark"
                                id="xmark"
                                (click)="toRejectRec(item)"
                              ></i>
                            </div>
                          </td>
                        </ng-template>
                      </tr>
                    </tbody>
                  </table>
                  <button style="display: none;">
                    <p>+</p>
                    ADD RECOVERY
                  </button>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</app-content>

<router-outlet></router-outlet>
