<div class="head">
    <div class="search">
      <label>
        <input type="text" placeholder="Cari" [(ngModel)]="searchText" />
        <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
      </label>
    </div>
    <button (click)="direktorat()" style="display: none">
      <p>+</p>
      ADD DIRECTORATE
    </button>
  </div>
  <table aria-describedby>
    <thead>
      <th>No.</th>
      <th style="text-align: left">Directorat</th>
      <th>Call Sign</th>
      <th>Review</th>
      <th style="width: 8rem;display:none">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows| searchFilter : searchText : 'name'; let i = index">
        <td>{{(currentPage*pageSize) + i + 1  }}</td>
        <td style="text-align: left">
          {{ row.name }}
        </td>
        <td>{{ row.call_sign }}</td>
        <td class="approved"
        >
          <div class="status">
            <strong> APPROVED </strong>
          </div>
        </td>
        <td style="display: none;">
          <div class="action-table">
            <i
              class="fa fa-trash"
              id="trash"
              (click)="deleteDirektorat(row)"
              [hidden]="isApprover" aria-hidden="true"
            ></i
            ><i
              class="fa-solid fa-pen-to-square"
              id="edit"
              (click)="editdirektorat(row)"
              [hidden]="isApprover" aria-hidden="true"
            ></i>
            <i
              class="fa fa-check"
              id="check"
              *ngIf="isApprover" aria-hidden="true"
              (click)="approve(row, 'APPROVED')"
            ></i>
            <i
              class="fa fa-xmark"
              id="xmark"
              *ngIf="isApprover" aria-hidden="true"
              (click)="approve(row, 'REJECTED')"
            ></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
          [length]="totalElement"
          [pageSize]="10"
          [pageSizeOptions]="[10, 20, 50, 100]"
          aria-label="Select page"
          showFirstLastButtons
          (page)="onPageChange($event)"
  >
  </mat-paginator>