.content {
  width: 30rem;
  height: 35rem;
  font-size: small;
  .title {
    color: #686868;
  }
  input {
    background-color: #d0d0d0;
    width: 100%;
    padding: 0.4rem;
    border: none;
    border-bottom: var(--button) solid 2px;
  }
  .input {
    margin-top: 4px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 0.4rem;
    border: none;
    border-bottom: var(--button) solid 2px;
  }
  select {
    background-color: #f7f7f7;
    width: 100%;
    padding: 0.4rem;
    border: none;
    border-bottom: var(--button) solid 2px;
  }
  textarea {
    background-color: #f7f7f7;
    width: 100%;
    padding: 0.4rem;
    border: none;
    border-bottom: var(--button) solid 2px;
  }
  .action {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    .btn-cancel {
      width: 30%;
      padding: 0.4rem;
      border-radius: 5px;
      border: var(--button) solid 1px;
      background-color: var(--white);
    }
    .btn-submit {
      width: 69%;
      padding: 0.4rem;
      border-radius: 5px;
      border: none;
      background-color: var(--button);
      color: var(--white);
    }
  }
}
