<app-content>
  <ng-container content>
    <div class="dashboard">
      <div class="score">
        <div class="head">
          <p>Residual<br />Q3 2022</p>
        </div>
        <div class="chart">
          <img
            src="../../../../assets/Grade Gauge 2 等级仪表盘2.svg"
            alt=""
            id="speedometer"
          />
        </div>
      </div>
      <div class="perbandingan-risk-map">
        <div class="head">
          <!-- <h5>Perbandingan Risk Map</h5> -->
          <h5>Risk Map</h5>
          <!-- <select>
            <option value="">2021-2022</option>
          </select> -->
        </div>
        <!-- <p class="year">2021</p> -->
        <div class="risk-map">
          <div class="head">
            <p>Risk Map</p>
            <p style="margin-right: 10rem">Risk Map</p>
            <!-- <p style="margin-right: 15rem">Risk Map</p> -->
          </div>
          <div class="data">
            <div class="data1">
              <div class="title">Risk Issue Map</div>
              <div class="kategori">Kategori</div>
              <div class="jumlah">Jumlah</div>
              <div class="persentase">Persentase</div>
              <div class="low">Low</div>
              <div class="jumlah1">21</div>
              <div class="persentase1">45%</div>
              <div class="lowtomedium">Low to medium</div>
              <div class="jumlah2">3</div>
              <div class="persentase2">15%</div>
              <div class="medium">Medium</div>
              <div class="jumlah3">5</div>
              <div class="persentase3">5%</div>
              <div class="mediumtohigh">Medium to High</div>
              <div class="jumlah4">2</div>
              <div class="persentase4">5%</div>
              <div class="mediumtohigh2">Medium to High</div>
              <div class="jumlah5">6</div>
              <div class="persentase5">35%</div>
              <div class="total">Total</div>
              <div class="jumlahtotal">37</div>
              <div class="jumlahpersentase">100%</div>
            </div>
            <div class="data2">
              <div class="box"></div>
              <div class="likelihood">Control</div>
              <div class="impact"><p>Inherent</p></div>
              <div class="data1">1</div>
              <div class="data2">2</div>
              <div class="data3">3</div>
              <div class="data4">4</div>
              <div class="data5">5</div>
              <div class="data6">5</div>
              <div class="data7">5</div>
              <div class="data8">10</div>
              <div class="data9">15</div>
              <div class="data10">20</div>
              <div class="data11">25</div>
              <div class="data12">4</div>
              <div class="data13">4</div>
              <div class="data14">8</div>
              <div class="data15">12</div>
              <div class="data16">16</div>
              <div class="data17">20</div>
              <div class="data18">3</div>
              <div class="data19">3</div>
              <div class="data20">6</div>
              <div class="data21">9</div>
              <div class="data22">12</div>
              <div class="data23">15</div>
              <div class="data24">2</div>
              <div class="data25">2</div>
              <div class="data26">4</div>
              <div class="data27">6</div>
              <div class="data28">8</div>
              <div class="data29">10</div>
              <div class="data30">1</div>
              <div class="data31">1</div>
              <div class="data32">2</div>
              <div class="data33">3</div>
              <div class="data34">4</div>
              <div class="data35">5</div>
            </div>
            <!-- <div class="data3">
              <div class="box">box</div>
              <div class="risk-control">r</div>
              <div class="strong">s</div>
              <div class="satisfactory">st</div>
              <div class="fair">f</div>
              <div class="marginal">m</div>
              <div class="unsatisfactory">un</div>
              <div class="predicate-ihrr">p</div>
            </div> -->
            <!-- <img src="../../../../assets/risk-map.svg" alt="" /> -->
          </div>
        </div>
        <!-- <p class="year" style="margin-top: 1rem">2022</p> -->
        <!-- <div class="risk-map">
          <div class="head">
            <p>Risk Map</p>
            <p>Risk Map</p>
            <p style="margin-right: 15rem">Risk Map</p>
          </div>
          <div class="data">
            <div class="data1">
              <div class="title">Risk Issue Map</div>
              <div class="kategori">Kategori</div>
              <div class="jumlah">Jumlah</div>
              <div class="persentase">Persentase</div>
              <div class="low">Low</div>
              <div class="jumlah1">21</div>
              <div class="persentase1">45%</div>
              <div class="lowtomedium">Low to medium</div>
              <div class="jumlah2">3</div>
              <div class="persentase2">15%</div>
              <div class="medium">Medium</div>
              <div class="jumlah3">5</div>
              <div class="persentase3">5%</div>
              <div class="mediumtohigh">Medium to High</div>
              <div class="jumlah4">2</div>
              <div class="persentase4">5%</div>
              <div class="mediumtohigh2">Medium to High</div>
              <div class="jumlah5">6</div>
              <div class="persentase5">35%</div>
              <div class="total">Total</div>
              <div class="jumlahtotal">37</div>
              <div class="jumlahpersentase">100%</div>
            </div>
            <div class="data2">
              <div class="box"></div>
              <div class="likelihood">Likelihood</div>
              <div class="impact"><p>impact</p></div>
              <div class="data1">1</div>
              <div class="data2">2</div>
              <div class="data3">3</div>
              <div class="data4">4</div>
              <div class="data5">5</div>
              <div class="data6">1</div>
              <div class="data7">1</div>
              <div class="data8">2</div>
              <div class="data9">2</div>
              <div class="data10">3</div>
              <div class="data11">3</div>
              <div class="data12">2</div>
              <div class="data13">2</div>
              <div class="data14">3</div>
              <div class="data15">3</div>
              <div class="data16">3</div>
              <div class="data17">14</div>
              <div class="data18">3</div>
              <div class="data19">2</div>
              <div class="data20">3</div>
              <div class="data21">4</div>
              <div class="data22">4</div>
              <div class="data23">5</div>
              <div class="data24">4</div>
              <div class="data25">3</div>
              <div class="data26">3</div>
              <div class="data27">4</div>
              <div class="data28">5</div>
              <div class="data29">5</div>
              <div class="data30">5</div>
              <div class="data31">3</div>
              <div class="data32">4</div>
              <div class="data33">5</div>
              <div class="data34">5</div>
              <div class="data35">5</div>
            </div> -->
        <!-- <div class="data3">
              <div class="box">box</div>
              <div class="risk-control">r</div>
              <div class="strong">s</div>
              <div class="satisfactory">st</div>
              <div class="fair">f</div>
              <div class="marginal">m</div>
              <div class="unsatisfactory">un</div>
              <div class="predicate-ihrr">p</div>
            </div> -->
        <!-- <table style="margin-right: 20px; font-size: x-small">
              <tr>
                <th
                  style="
                    background-color: #ffffff;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    color: white;
                  "
                  class="text-center"
                ></th>
                <th
                  style="
                    width: 4rem;

                    height: 1.5rem;
                    background-color: #f4f4f4;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    transform: rotate(-90deg);
                  "
                  class="text-center writing-mode"
                >
                  Risk Control
                </th>
                <th
                  style="
                    width: 4rem;

                    height: 1.5rem;
                    background-color: #0e9644;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    transform: rotate(-90deg);
                  "
                  class="text-center writing-mode"
                >
                  Strong
                </th>
                <th
                  style="
                    width: 4rem;

                    height: 1.5rem;
                    background-color: #87f4b3;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    transform: rotate(-90deg);
                  "
                  class="text-center writing-mode"
                >
                  Statisfactory
                </th>
                <th
                  style="
                    width: 4rem;
                    height: 1.5rem;
                    background-color: #fedb21;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    transform: rotate(-90deg);
                  "
                  class="text-center writing-mode"
                >
                  Fair
                </th>
                <th
                  style="
                    width: 4rem;

                    height: 1.5rem;
                    background-color: #ff842c;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    transform: rotate(-90deg);
                  "
                  class="text-center writing-mode"
                >
                  Marginal
                </th>
                <th
                  style="
                    width: 4rem;

                    height: 1.5rem;
                    background-color: #a10d0d;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    transform: rotate(-90deg);
                  "
                  class="text-center writing-mode"
                >
                  Unstatisfactory
                </th>
              </tr>
              <tr>
                <td
                  style="
                    width: 1rem;

                    height: 1.5rem;
                    background-color: #f4f4f4;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    font-weight: bold;
                  "
                  class="text-center"
                >
                  Preciate IHRR
                </td>
                <td
                  style="
                    background-color: white;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                ></td>
                <td
                  style="
                    background-color: #0e9644;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  1
                </td>
                <td
                  style="
                    background-color: #87f4b3;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #fedb21;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #ff842c;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
                <td
                  style="
                    background-color: #a10d0d;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  5
                </td>
              </tr>
              <tr>
                <td
                  style="
                    background-color: #0e9644;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    font-weight: bold;
                  "
                  class="text-center"
                >
                  Low
                </td>
                <td
                  style="
                    background-color: #0e9644;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  1
                </td>
                <td
                  style="
                    background-color: #0e9644;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  1
                </td>
                <td
                  style="
                    background-color: #0e9644;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  1
                </td>
                <td
                  style="
                    background-color: #fedb21;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #87f4b3;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #ff842c;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
              </tr>
              <tr>
                <td
                  style="
                    background-color: #87f4b3;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    font-weight: bold;
                  "
                  class="text-center"
                >
                  Low To Medium
                </td>
                <td
                  style="
                    background-color: #87f4b3;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #0e9644;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  1
                </td>
                <td
                  style="
                    background-color: #87f4b3;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #87f4b3;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #fedb21;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #ff842c;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
              </tr>
              <tr>
                <td
                  style="
                    background-color: #fedb21;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    font-weight: bold;
                  "
                  class="text-center"
                >
                  Medium
                </td>
                <td
                  style="
                    background-color: #fedb21;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #87f4b3;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #87f4b3;
                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #fedb21;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #ff842c;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
                <td
                  style="
                    background-color: #ff842c;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
              </tr>
              <tr>
                <td
                  style="
                    background-color: #ff842c;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    font-weight: bold;
                  "
                  class="text-center"
                >
                  Medium To High
                </td>
                <td
                  style="
                    background-color: #ff842c;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
                <td
                  style="
                    background-color: #87f4b3;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  2
                </td>
                <td
                  style="
                    background-color: #fedb21;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #ff842c;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
                <td
                  style="
                    background-color: #ff842c;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
                <td
                  style="
                    background-color: #a10d0d;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  5
                </td>
              </tr>
              <tr>
                <td
                  style="
                    background-color: #a10d0d;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                    font-weight: bold;
                  "
                  class="text-center"
                >
                  High
                </td>
                <td
                  style="
                    background-color: #a10d0d;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  5
                </td>
                <td
                  style="
                    background-color: #fedb21;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #fedb21;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  3
                </td>
                <td
                  style="
                    background-color: #ff842c;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  4
                </td>
                <td
                  style="
                    background-color: #a10d0d;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  5
                </td>
                <td
                  style="
                    background-color: #a10d0d;

                    border: 2px;
                    border-style: solid;
                    border-color: #ffffff;
                  "
                  class="text-center"
                >
                  5
                </td>
              </tr>
            </table> -->
        <!-- <img src="../../../../assets/risk-map.svg" alt="" /> -->
        <!-- </div> -->
        <!-- </div> -->
      </div>
      <div class="perbandingan-top-risk">
        <div class="head">
          <h5>Top Risk</h5>
          <!-- <select>
            <option value="">2021 - 2022</option>
          </select> -->
        </div>
        <div class="periode">
          <!-- <div class="content"> -->
          <!-- <p>2021</p> -->
          <!-- <p class="next-year">2022</p> -->
          <!-- </div> -->
          <div class="data-tables">
            <div class="data-before">
              <table>
                <thead>
                  <th style="width: 2rem">No.</th>
                  <th>Risiko</th>
                  <th style="text-align: center; width: 10rem">Residual</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Risiko penyalahgunaan password</td>
                    <td>
                      <div class="orange"><span>Medium to High</span></div>
                    </td>
                  </tr>
                  <tr class="grey-row">
                    <td>2</td>
                    <td>Risiko kesalahan input</td>
                    <td>
                      <div class="orange"><span>Medium to High</span></div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Risiko keterlambatan data</td>
                    <td>
                      <div class="yellow"><span>Medium</span></div>
                    </td>
                  </tr>
                  <tr class="grey-row">
                    <td>4</td>
                    <td>Risiko kegagalan menyimpan data</td>
                    <td>
                      <div class="green-light"><span>Low to Medium</span></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="data-after">
              <table>
                <thead>
                  <th>No.</th>
                  <th>Risiko</th>
                  <th>Composite Risk</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>
                      Kesalahan dalam melakukan verifikasi atas data dan
                      informasi pembiayaan yang disampaikan Business Unit
                      terkait pembiayaan dan Restrukturisasi
                    </td>
                    <td>
                      <div class="red"><span>25 - HIGH</span></div>
                    </td>
                  </tr>
                  <tr class="grey-row">
                    <td>2</td>
                    <td>Risiko kelemahan monitoring pembiayaan nasabah</td>
                    <td>
                      <div class="red"><span>25 - HIGH</span></div>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Risiko kesalahan proses penagihan nasabah</td>
                    <td>
                      <div class="red"><span>25 - HIGH</span></div>
                    </td>
                  </tr>
                  <tr class="grey-row">
                    <td>4</td>
                    <td>Risiko kesalahan proses penagihan nasabah</td>
                    <td>
                      <div class="red"><span>25 - HIGH</span></div>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Risiko kelemahan monitoring pembiayaan nasabah</td>
                    <td>
                      <div class="red"><span>25 - HIGH</span></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <div class="perbandingan-kri">
        <div class="head">
          <h5>Perbandingan KRI</h5>
          <select>
            <option value="">2021 - 2022</option>
          </select>
        </div>
        <table>
          <thead>
            <th>No.</th>
            <th>Key Risk Indicator</th>
            <th>Nilai 2021</th>
            <th>Nilai 2022</th>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>6</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>7</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>8</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>9</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
            <tr>
              <td>10</td>
              <td>
                Pemenuhan pegawai sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
              </td>
              <td>
                <div class="red"><span>20 %</span></div>
              </td>
              <td>
                <div class="green"><span>20 %</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <div class="led">
        <div class="head">
          <h5>LED</h5>
          <select>
            <option value="">2021 - 2022</option>
          </select>
        </div>
        <img src="../../../../assets/LED.svg" alt="" />
      </div>
      <div class="iam">
        <div class="head">
          <p>IAM</p>
          <!-- <p class="compare">
            Perbandingan IAM
            <select>
              <option value="">2021-2022</option>
            </select>
          </p> -->
        </div>
        <div class="chart">
          <img src="../../../../assets/IAM.svg" alt="" id="speedometer" />
          <img src="../../../../assets/IAM-2.svg" alt="" id="compare-iam" />
        </div>
      </div>
      <!-- <div class="ct-tindak-lanjut">
        <div class="head">
          <h5>CT TINDAK LANJUT</h5>
          <select>
            <option value="">2021 - 2022</option>
          </select>
        </div>
        <div class="chart">
          <img src="../../../../assets/Q1.svg" alt="" />
          <img src="../../../../assets/Q2.svg" alt="" />
          <img src="../../../../assets/Q3.svg" alt="" />
          <img src="../../../../assets/Q4.svg" alt="" />
        </div>
      </div> -->
    </div>
  </ng-container>
</app-content>
