<div style="width: 35rem; font-size: small">
  <h5 mat-dialog-title>ADD RCSA</h5>
  <form [formGroup]="addRscaForm">
    <div class="form-group">
      <label for="unit">UNIT</label>
      <select
        class="form-control"
        id="unit"
        style="margin-top: 0.4rem"
        formControlName="unit"
        #unt (change)="onSelected(unt.value)" ngModel="All"
      >
        <option value="All" selected>All</option>
        <option value="Jaringan">jaringan</option>
        <option value="Kantor Pusat">Kantor Pusat</option>
      </select>
    </div>
    <div class="form-group" style="margin-top: 0.4rem">
      <label for="segmen/group">SEGMEN/GROUP</label>
      <select
        *ngIf="selectedTeam === 'Kantor Pusat'"
        class="form-control"
        id="segmen/group"
        style="margin-top: 0.4rem"
        formControlName="segmentgroup"
      >
      <option *ngFor="let item of groupKantorPusat" value="{{ item.group }}">{{ item.group }}</option>
      </select>
      <select
      *ngIf="selectedTeam === 'Jaringan'"
      class="form-control"
      id="segmen/group"
      style="margin-top: 0.4rem"
      formControlName="segmentgroup"
      >
      <option *ngFor="let item of segmenjaringan" value="{{ item.segmen }}">{{ item.segmen }}</option>
      </select>
      <select
      *ngIf="selectedTeam === 'All'"
      class="form-control"
      id="segmen/group"
      style="margin-top: 0.4rem"
      formControlName="segmentgroup"
      >
      <option *ngFor="let item of groupKantorPusat" value="{{ item.group }}">{{ item.group }}</option>
      <option *ngFor="let item of segmenjaringan" value="{{ item.segmen }}">{{ item.segmen }}</option>
      </select>
    </div>

    <div class="form-group" style="margin-top: 1.5rem">
      <button
        type="button"
        class="btn"
        style="width: 27%; border: var(--button) solid 1px; font-size: small"
        (click)="cancel()"
      >
        CANCEL
      </button>
      <button
        type="button"
        class="btn"
        style="
          width: 70%;
          margin-left: 1rem;
          background-color: var(--button);
          color: white;
          font-size: small;
        "
        (click)="submit()"
      >
        ADD RCSA
      </button>
    </div>
  </form>
</div>
