<app-content>
  <ng-container content>
    <div class="content">
      <div class="example-large-box" *ngIf="!preview">
        <div class="list-action">
          <div class="periode">
            <select name="select-periode" id="select-periode">
              <option value="">2022</option>
              <option value="">2021</option>
              <option value="">2020</option>
              <option value="">2019</option>
            </select>
            <select name="select-q" id="select-q">
              <option value="">All</option>
              <option value="">Q1</option>
              <option value="">Q2</option>
              <option value="" selected>Q3</option>
              <option value="">Q4</option>
            </select>
          </div>
        </div>
        <div class="search">
          <label>
            <input type="text" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </label>
        </div>
      </div>
      <div class="data-dept-head-kri" *ngIf="!preview; else previewPage">
        <table>
          <thead>
            <th>No.</th>
            <th>KRI</th>
            <th>Divisi</th>
            <th>Periode</th>
            <th>Tanggal Mulai</th>
            <th>Tangal Akhir</th>
            <th style="text-align: center">Status</th>
            <th style="text-align: center">Action</th>
          </thead>
          <tbody *ngFor="let dh of dept_head | async; let i = index">
            <tr *ngIf="dh.status == 'APPROVED'">
              <td style="padding: 0.7rem">{{ i }}</td>
              <td style="padding: 0.7rem">{{ dh.kri }}</td>
              <td style="padding: 0.7rem">{{ dh.jaringan_group }}</td>
              <td style="padding: 0.7rem">{{ dh.periode }}/{{ dh.tahun }}</td>
              <td style="padding: 0.7rem">{{ dh.tanggal_mulai }}</td>
              <td style="padding: 0.7rem">{{ dh.tanggal_akhir }}</td>
              <ng-container *ngIf="dh.status_dept_head =='NOT SUBMITTED' else submitted">
                <td class="not-submit">
                  <div class="status">{{ dh.status_dept_head }}</div>
                </td>
              </ng-container>
              <ng-template #submitted>
                <ng-container *ngIf="dh.status_dept_head == 'SUBMITTED' else rejected">
                  <td class="submitted">
                    <div class="status">{{ dh.status_dept_head }}</div>
                  </td>
                </ng-container>
              </ng-template>
              <ng-template #rejected>
                  <td class="rejected">
                    <div class="status">{{ dh.status_dept_head }}</div>
                  </td>
              </ng-template>
              <td>
                <div class="action-table">
                  <i
                    class="fa fa-ellipsis-vertical"
                    id="ellipsis"
                    (click)="openPreview()"
                  ></i>
                  <i
                    class="fa fa-chevron-right"
                    id="right"
                    role="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#deptheadkri'+ dh.id"
                    aria-expanded="false"
                    aria-controls="deptheadkri"
                    (click)="checkNilai(dh.child_kri)"
                  ></i>
                </div>
              </td>
            </tr>
            <tr class="collapse" [attr.id]="'deptheadkri'+ dh.id">
              <td colspan="8">
                <table>
                  <thead>
                    <th>No.</th>
                    <th>Key Risk Indicator</th>
                    <th>Ukuran</th>
                    <th>Jenis KRI</th>
                    <th>Nilai</th>
                    <th>Keterangan Data</th>
                    <th>Action</th>
                  </thead>
                  <tbody *ngFor="let child_kri of dh.child_kri">
                    <tr>
                      <td>1</td>
                      <td style="text-align: left">
                        {{ child_kri.kri }}
                      </td>
                      <td>
                        <p *ngFor="let ukuran of child_kri.ukuran">
                          {{ ukuran.desc }}
                        </p>
                      </td>
                      <td>{{ child_kri.jenis_kri }}</td>
                      <ng-container *ngIf="child_kri.nilai == 0 || child_kri.nilai == null; else green" >
                          <td style="text-align: center; color: #f9ad3d">
                            BELUM DINILAI
                          </td>
                      </ng-container>
                      <ng-template  #green>
                        <ng-container *ngIf="child_kri.nilai >= 1 && child_kri.nilai <= 10; else yellow">
                          <td>
                            <div class="treshold">
                              <div class="green">
                                {{ child_kri.nilai }}
                              </div>
                            </div>
                          </td>
                        </ng-container>
                      </ng-template>
                      <ng-template #yellow>
                        <ng-container *ngIf="child_kri.nilai >= 11 && child_kri.nilai <= 20; else red">
                          <td>
                            <div class="treshold">
                              <div class="yellow">
                                {{ child_kri.nilai }}
                              </div>
                            </div>
                          </td>
                        </ng-container>
                      </ng-template>
                      <ng-template #red>
                        <ng-container *ngIf="child_kri.nilai > 20;">
                          <td>
                            <div class="treshold">
                              <div class="red">
                                {{ child_kri.nilai }}
                              </div>
                            </div>
                          </td>
                        </ng-container>
                      </ng-template>
                      <td>{{ child_kri.keterangan_data }}</td>
                      <td>
                        <div class="action-table" (click)="openEdit(dh, child_kri.id, dh.id)">
                          <i class="fa-solid fa-pen-to-square" id="edit"></i>
                        </div>
                      </td>
                    </tr>
                    <!-- <tr>
                      <td>2</td>
                      <td style="text-align: left">
                        Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS,
                        Teller, BO)
                      </td>
                      <td>
                        transaksi open item yg melewati jangka waktu (12 hari
                        kerja)
                      </td>
                      <td>Group</td>
                      <td>
                        <div class="treshold"><div class="red">20%</div></div>
                      </td>
                      <td>6 pegawai belum mendapatkan training</td>
                      <td>
                        <div class="action-table">
                          <i class="fa-solid fa-pen-to-square" id="edit"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td style="text-align: left">
                        Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS,
                        Teller, BO)
                      </td>
                      <td>
                        transaksi open item yg melewati jangka waktu (12 hari
                        kerja)
                      </td>
                      <td>Group</td>
                      <td>
                        <div class="treshold">
                          <div class="green">10%</div>
                        </div>
                      </td>
                      <td>6 pegawai belum mendapatkan training</td>
                      <td>
                        <div class="action-table">
                          <i class="fa-solid fa-pen-to-square" id="edit"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td style="text-align: left">
                        Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS,
                        Teller, BO)
                      </td>
                      <td>
                        transaksi open item yg melewati jangka waktu (12 hari
                        kerja)
                      </td>
                      <td>Group</td>
                      <td>
                        <div class="treshold">
                          <div class="green">10%</div>
                        </div>
                      </td>
                      <td></td>
                      <td>
                        <div class="action-table">
                          <i class="fa-solid fa-pen-to-square" id="edit"></i>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td style="text-align: left">
                        Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS,
                        Teller, BO)
                      </td>
                      <td>
                        transaksi open item yg melewati jangka waktu (12 hari
                        kerja)
                      </td>
                      <td>KP</td>
                      <td style="text-align: center; color: #f9ad3d">
                        BELUM DINILAI
                      </td>
                      <td></td>
                      <td>
                        <div class="action-table">
                          <i class="fa-solid fa-pen-to-square" id="edit"></i>
                        </div>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
                <div class="pagination">Pagination</div>
                <!-- <ng-container> -->
                  <button *ngIf="is_active === 'enabled'; else disabled" (click)="submitKeyIndicator(dh, dh.id)">
                    SUBMIT KEY RISK INDICATOR
                  </button>
                <!-- </ng-container> -->
                <ng-template #disabled>
                  <button disabled>
                    SUBMIT KEY RISK INDICATOR
                  </button>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #previewPage>
        <header>
          <p (click)="closePreview()"><i class="fa fa-chevron-left"></i></p>
        </header>
        <div class="data-preview-kri">
          <table style="width: 100%">
            <thead>
              <th>No.</th>
              <th style="text-align: left">Key Risk Indicator</th>
              <th>Ukuran</th>
              <th>Treshold</th>
              <th>Nilai</th>
              <th>Keterangan Data</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="6">
                  <div class="general">
                    <p>General</p>
                    <hr />
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="yellow">20%</div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                  </div>
                </td>
                <td style="color: #585858">
                  6 pegawai belum mendapatkan training
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="green">20%</div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="yellow">20%</div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="green">20%</div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td colspan="6">
                  <div class="spesifik">
                    <p>Spesifik</p>
                    <hr />
                  </div>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="yellow">20%</div>
                  </div>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                  </div>
                </td>
                <td style="color: #585858"></td>
              </tr>
              <tr>
                <td>1</td>
                <td style="text-align: left">
                  Pemenuhan pengawal sesuai SO Cabang (BM, BOSM, CS, Teller, BO)
                </td>
                <td>
                  transaksi open item yg melewati jangka waktu (12 hari kerja)
                </td>
                <td>
                  <div class="treshold">
                    <div class="red">20%</div>
                    <div class="yellow">20%</div>
                    <div class="green">20%</div>
                  </div>
                </td>
                <td>
                  <div class="treshold">
                    <div class="green">20%</div>
                  </div>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </ng-container>
</app-content>
