<body class="bg-dark text-white py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><em class="fa fa-exclamation-triangle fa-5x"></em><br />Status Code: 401</p>
            </div>
            <div class="col-md-10">
                <h3>Page Authorization Required</h3>
                <p>Your authorization failed.<br>Please try refreshing the page and fill in the correct login details.</p>
            </div>
        </div>
    </div>
</body>