<div style="width: 100%; height: 100%">
  <img src="../../../../assets/title.svg" alt="" id="title" />
  <div
    style="
      background: url('../../../../assets/ERMS COVER FLOW 1.svg');
      width: 80%;
      height: 70%;
      background-size: 100%;
      margin-right: 3rem;
    "
  >
    <span
      style="
        margin-top: 26rem;
        font-size: small;
        display: flex;
        justify-content: flex-start;
      "
      ><p>
        Pengunaan Software dapat <strong>menigkatkan efisiensi</strong
        ><br />pengelolaan manajemen risiko <strong>hingga 300%</strong> dan
        Prospero<br />ERMS mampu menggandakannya hingga <strong>5X</strong>
      </p>
      <button
        style="
          background-color: var(--button);
          color: var(--white);
          width: 9rem;
          height: 3.1rem;
          border: none;
          margin-left: 2rem;
          border-radius: 0.3rem;
        "
        (click)="toLogin()"
      >
        Mulai Demo
      </button></span
    >
  </div>
</div>
